{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    //header
    <header>
        <div class="row">
            <div class="col logo ">
                {#<img src="{{ asset('') }}" alt="">#}
            </div>
            <div class="col">
                <ul>
                    <li>пн - пт: 10 - 24</li>
                    <li>сб - вс: 10 - 02</li>
                </ul>
            </div>
            <div class="col">
                <form action="/login">
                    {#TODO ппроверка зашел пользователь или нет#}
                    <input type="text" name="email">
                    <input type="password" name="pass">
                    <button>Login</button>
                    {#TODO Если зашел то ссылка на профиль и кнопка выход#}
                </form>
            </div>
        </div>
        {#TODO ADD MENU#}
    </header>
    //content
    <div class="row">
        <div class="col-md-4 sidebar">
            {#TODO add film list #}
            <ul>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
                <li>Films</li>
            </ul>
        </div>
        <div class="col-md-8 mainContent">
            <div class="row">
                <button class="seatHide">hide</button>
                <button class="seatShow">show</button>
                <button class="seatRemove">remove</button>
            </div>
            <div id="hallPreview" >
                <div class="row row-0" data-row="0">
                    <div class="input-group-prepend">
                        <button class="addSeat btn btn-success btn-outline-secondary" data-row="0" data-max-y="5">Add Seat</button>
                    </div>
                    <div class="row rowContent">
                        <div class="col seat" data-x="1" data-y="1" data-type="1">1,1</div>
                        <div class="col seat" data-x="1" data-y="2" data-type="1">1,2</div>
                        <div class="col seat" data-x="1" data-y="3" data-type="1">1,3</div>
                        <div class="col seat" data-x="1" data-y="4" data-type="1">1,4</div>
                        <div class="col seat" data-x="1" data-y="5" data-type="1">1,5</div>
                    </div>
                    <div class="input-group-append">
                        <button class="removeRow btn btn-danger btn-outline-secondary" data-row="0">Remove Row</button>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id='addRow' data-current='0' class="btn btn-outline-secondary" type="button">Add row</button>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Col count</span>
                    </div>
                    <input type="text" aria-describedby="basic-addon1" aria-label="colCount" class="form-control" id="colCount" value="10">

                    <select id="rowType" class="custom-select">
                        <option value="1">Обычные</option>
                        <option value="2">Повышенной комфортности</option>
                        <option value="3">ВИП</option>
                    </select>
                </div>

            </div>
        </div>
        {#<div class="col-md-8 mainContent">#}
            {#TODO add film list #}
            {#<div class="row">#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#<a href="{{ path('film_show', {'id': film.id }) }}">{{ film.title }}</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img  class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img  class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img  class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img  class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-4 film">#}
                    {#<div class="film__image">#}
                        {#<img  class="img-fluid" src="{{ asset('uploads/films/default.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="film__title">#}
                        {#Форсаж#}
                    {#</div>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}

    //footer
</div>
{% endblock %}
