{% extends 'base.html.twig' %}

{% block title %}Seats{% endblock %}

{% block body %}
    <h1>Seats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seat.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ seat.number }}</td>
            </tr>
            <tr>
                <th>Pricetype</th>
                <td>{{ seat.pricetype }}</td>
            </tr>
            <tr>
                <th>Createdts</th>
                <td>{{ seat.createdts ? seat.createdts|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updatedts</th>
                <td>{{ seat.updatedts ? seat.updatedts|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seats_index') }}">back to list</a>

    <a href="{{ path('seats_edit', {'id': seat.id}) }}">edit</a>

    {{ include('seats/_delete_form.html.twig') }}
{% endblock %}
