{% extends 'base.html.twig' %}

{% block title %}Firma index{% endblock %}

{% block body %}
    <h1>Firma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Logo</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for firma in firmas %}
            <tr>
                <td>{{ firma.id }}</td>
                <td>{{ firma.title }}</td>
                <td>{{ firma.logo }}</td>
                <td>{{ firma.number }}</td>
                <td>
                    <a href="{{ path('firma_show', {'id': firma.id}) }}">show</a>
                    <a href="{{ path('firma_edit', {'id': firma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('firma_new') }}">Create new</a>
{% endblock %}
