{% extends 'base.html.twig' %}

{% block title %}Firma{% endblock %}

{% block body %}
    <h1>Firma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ firma.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ firma.title }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ firma.logo }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ firma.number }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('firma_index') }}">back to list</a>

    <a href="{{ path('firma_edit', {'id': firma.id}) }}">edit</a>

    {{ include('firma/_delete_form.html.twig') }}
{% endblock %}
